.parent-container {
    background-color: #c2c2c2;
    border: #bebebe 4px dotted;

.parent-view-details {
    padding: 1rem;
    margin: 1rem !important;
    
    p {
        color: #bc0d93;
        font-size: 14px;
        font: message-box;
    }
}

}