.form-control.is-invalid, .was-validated .form-control:invalid {
    border-left: 5px solid #a94442;
     padding-right: calc(1.5em + .75rem);
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
      
   }
   
   .register-container {
    padding: 1rem;
    margin: 1rem !important;
    background-color: #fefbfb;
    border: #ededed 2px dotted;
   
     .view-details p {
       color: #bc0d93;
       font-size: 14px;
       font: message-box;
     }
   
     .card-header {
       color: #bc0d93;
       font-size: 21px;
       font: message-box;
       font-weight: bold;
     }
     .cursor {
         cursor: pointer;
     }

     
   }